@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=IBM+Plex+Sans+KR:wght@300;400;500&family=Pangolin&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: #2F4858;
  font: 16px 'IBM Plex Sans KR', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #282828;
  text-decoration: none;
}

i {
  font-style: normal;
}

header {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
  color: #2F4858;
  position: fixed;
  z-index: 3;
  font-family: 'Gaegu', cursive;
  padding: 0 150px 0 5vw;
}

header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 700;
}

header #logo > span {
  position: relative;
  -webkit-animation: logo .8s alternate infinite;
          animation: logo .8s alternate infinite;
}

header ul {
  width: 0;
  overflow: hidden;
  -webkit-transition: .7s;
  transition: .7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header ul li {
  margin: 0 1.5vw;
  white-space: nowrap;
  cursor: pointer;
}

header ul li:hover {
  color: #E5C1C5;
}

header ul li.on {
  font-weight: 700;
}

header #Hamburger {
  width: 30px;
  height: 21px;
  position: absolute;
  top: 3.8vh;
  right: 3vw;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  cursor: pointer;
  z-index: 10;
}

header #Hamburger > div {
  width: 30px;
  height: 3px;
  background: #2F4858;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header #Hamburger > div:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header #Hamburger > div:nth-child(3) {
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header #Hamburger:hover > div {
  background: #F5F0ED;
}

@media all and (min-width: 1024px) and (max-width: 1550px) {
  body {
    font-size: 15px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  body header {
    height: 12vh;
  }
  body header #Hamburger {
    right: 5vw;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  body header {
    height: 10vh;
  }
  body header ul {
    position: absolute;
    top: 0;
    right: -45vw;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100vw;
    height: 100vh;
    background: #E5C1C5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 300px;
    min-height: 700px;
    padding-right: 42vw;
    font-size: 1.2em;
  }
  body header ul li {
    margin-bottom: 3vh;
  }
  body header ul li:hover {
    color: #F5F0ED;
  }
  body header #Hamburger {
    right: 6.5vw;
  }
  body header #Hamburger > div {
    width: 27px;
  }
}

@-webkit-keyframes logo {
  0% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

@keyframes logo {
  0% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

#container {
  overflow: hidden;
}

#home {
  width: 100vw;
  height: 100vh;
  background: #F5F0ED;
}

#home #home-text {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  color: #5F6476;
  padding-left: 1vw;
}

#home #home-text h2 {
  font-family: 'Pangolin', cursive;
  font-size: 4em;
  letter-spacing: 0.24em;
}

#home #home-text p {
  font-family: 'Gaegu', cursive;
  white-space: nowrap;
}

#home > span {
  display: block;
  opacity: 0;
}

#home > span:nth-of-type(1) {
  width: 567px;
  height: 540px;
  background: url(../images/icon1.png) no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
}

#home > span:nth-of-type(2) {
  width: 148px;
  height: 136px;
  background: url(../images/icon2.png) no-repeat;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

#About-me {
  width: 100vw;
  height: 100%;
  background: #2F4858;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1em;
  font-weight: 300;
  text-align: left;
  color: #F5F0ED;
  white-space: nowrap;
  padding: 16vh 0;
}

#About-me > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
  height: 67vh;
  min-height: 650px;
}

#About-me > div strong {
  font-size: 1.9em;
  font-weight: 500;
  text-align: left;
  color: #E5C1C5;
  position: relative;
  display: block;
  margin-bottom: 3.5vh;
}

#About-me > div strong::before {
  content: '';
  width: 20vw;
  height: 1px;
  background: #F5F0ED;
  position: absolute;
  top: 120%;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#About-me > div p, #About-me > div img {
  margin-top: 1vh;
}

#About-me > div span {
  font-weight: 400;
}

#About-me hr {
  width: 1px;
  height: 160px;
  margin: 0 6vw;
}

#About-me #box1 {
  text-align: center;
  height: 67vh;
  min-height: 650px;
}

#About-me #box1 #img {
  width: 289px;
  height: 364px;
  background: url(../images/img.png) no-repeat;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

#About-me #box1 #img::before,
#About-me #box1 #img::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 306px;
  height: 385px;
  border: 1px solid rgba(245, 240, 237, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 144px;
}

#About-me #box1 #img::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

#About-me #box1 #img::after {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

#About-me #box1 #aboutme > h2 {
  font-size: 1.7em;
  font-weight: 400;
}

#About-me #box1 #aboutme > p {
  margin-top: 2vh;
}

#About-me #box2 {
  margin-right: 8vw;
}

#About-me #box3 #skill, #About-me #box3 #hobby {
  text-align: center;
}

#About-me #box3 #skill img, #About-me #box3 #hobby img {
  margin-right: 2vw;
}

#About-me #box3 #skill img:nth-of-type(3n), #About-me #box3 #hobby img:nth-of-type(3n) {
  margin-right: 0;
}

#Portfolio {
  width: 100vw;
  height: 100%;
  background: #F5F0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #2F48584D;
  position: relative;
  padding: 21vh 0;
}

#Portfolio #btn > div {
  width: 80px;
  height: 80px;
  border: 1px solid #2F485880;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  text-indent: -9999em;
  cursor: pointer;
  z-index: 10;
}

#Portfolio #btn > div:nth-child(1) {
  left: 10vw;
  border-top: 0;
  border-right: 0;
}

#Portfolio #btn > div:nth-child(2) {
  right: 10vw;
  border-left: 0;
  border-bottom: 0;
}

#Portfolio #btn > div:nth-child(1):hover {
  border: 1px solid #2F4858;
  border-top: 0;
  border-right: 0;
}

#Portfolio #btn > div:nth-child(2):hover {
  border: 1px solid #2F4858;
  border-left: 0;
  border-bottom: 0;
}

#Portfolio #contents {
  width: 65vw;
  overflow: hidden;
}

#Portfolio #contents ul.transition {
  -webkit-transition: .5s;
  transition: .5s;
}

#Portfolio #contents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#Portfolio #contents ul li {
  width: 65vw;
}

#Portfolio #contents ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#Portfolio #contents ul li a .contents-text {
  width: 40%;
  font-size: 1.05em;
  font-weight: nowrap;
  text-align: center;
  color: #2F4858;
  word-break: keep-all;
}

#Portfolio #contents ul li a .contents-text > h2 {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 5VH;
  position: relative;
}

#Portfolio #contents ul li a .contents-text > h2::after {
  content: '';
  width: 10vw;
  height: 1px;
  background: #000;
  position: absolute;
  top: 160%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#Portfolio #contents ul li a .contents-text p {
  margin-bottom: 1vh;
}

#Portfolio #contents ul li a .contents-text p > span {
  font-weight: 500;
}

#Design {
  width: 100vw;
  height: 100%;
  background: #F5F0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 16vh 0;
  border-bottom: 1px solid #2F48584D;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

#Design #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
}

#Design #content li {
  width: 23%;
  overflow: hidden;
  margin: 10px 10px;
  cursor: pointer;
}

#Design #content li img {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

#Design #content li:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#Design .click_img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: 0;
          transform: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

#Design .click_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: opacity 1s;
          animation: opacity 1s;
}

@-webkit-keyframes opacity {
  from {
    top: 60%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    top: 60%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

#Contact {
  width: 100vw;
  height: 70vh;
  background: #F5F0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

#Contact #bg {
  width: 100vw;
  height: 480px;
  background: url(../images/bg-icon.png) no-repeat 100% 100%/cover;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
}

#Contact > div:nth-child(2) {
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
  color: #2F4858;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
}

#Contact > div:nth-child(2) #title {
  margin-bottom: 8vh;
}

#Contact > div:nth-child(2) #title strong {
  font-size: 1.25em;
  font-weight: 500;
}

#Contact > div:nth-child(2) #title strong i {
  display: block;
}

#Contact > div:nth-child(2) #title strong span {
  position: relative;
}

#Contact > div:nth-child(2) #title strong span::before,
#Contact > div:nth-child(2) #title strong span::after {
  content: '';
  width: 5px;
  height: 5px;
  background: #B1D2B8;
  position: absolute;
  top: -5px;
  left: 6px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  border-radius: 50%;
}

#Contact > div:nth-child(2) #title strong span::after {
  left: 26px;
}

#Contact > div:nth-child(2) #title strong span:nth-of-type(2)::before,
#Contact > div:nth-child(2) #title strong span:nth-of-type(2)::after {
  background: #E5C1C5;
}

#Contact > div:nth-child(2) > img {
  margin: 5vh 0 4vh;
}

#Contact > div:nth-child(2) #email {
  font-weight: 400;
  width: 275px;
}

#Contact > div:nth-child(2) #email a {
  color: #2F4858;
}

#Contact > div:nth-child(2) #email p {
  text-align: left;
}

#Contact > div:nth-child(2) #email p > span {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999em;
  margin-right: 2.2vw;
}

#Contact > div:nth-child(2) #email #kakaotalk span {
  background: url(../images/OpenKakaotalk.png) no-repeat;
  margin-bottom: 3vh;
}

#Contact > div:nth-child(2) #email #gmail span {
  background: url(../images/email.png) no-repeat;
}

@media all and (max-width: 1550px) {
  #About-me {
    padding: 18vh 0;
  }
  #About-me > div {
    height: 66vh;
    min-height: 580px;
    max-height: 630px;
  }
  #About-me #box1 {
    height: 66vh;
    min-height: 570px;
    max-height: 580px;
  }
  #About-me #box1 #img {
    width: 250px;
    height: 300px;
    background: url(../images/img.png) no-repeat 0 0/cover;
  }
  #About-me #box1 #img::before,
  #About-me #box1 #img::after {
    width: 248px;
    height: 312px;
    top: -6px;
    left: 0;
  }
  #About-me #box1 #aboutme h2 {
    font-size: 1.5em;
  }
  #About-me hr {
    display: none;
  }
  #About-me #box2 {
    margin: 0 12vw;
  }
  #Portfolio {
    padding: 6vh 0 9vh 0;
  }
  #Portfolio #contents ul li a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Portfolio #contents ul li a .contents-text {
    width: 60%;
    margin-top: 3vh;
    font-size: 1.1em;
  }
  #Design #content {
    width: 85%;
  }
  #Design #content li {
    width: 22%;
  }
  #Design .click_img img {
    width: 45%;
  }
  #Contact > div:nth-child(2) #title strong span::after {
    left: 24px;
  }
  #Contact > div:nth-child(2) #email {
    width: 254px;
  }
}

@media all and (max-width: 1024px) {
  #container #home > span:nth-of-type(1) {
    width: 400px;
    height: 400px;
    background: url(../images/icon1.png) no-repeat 0 0/cover;
  }
  #container #home > span:nth-of-type(2) {
    width: 120px;
    height: 120px;
    background: url(../images/icon2.png) no-repeat 0 0/cover;
  }
  #container #home #home-text {
    font-size: 1.4em;
  }
  #About-me {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.1em;
    padding: 15vh 0;
  }
  #About-me > div {
    width: 30%;
    height: 65vh;
    min-height: 570px;
  }
  #About-me > div strong::before {
    width: 31vw;
  }
  #About-me #box1 {
    width: 100%;
    height: 45vh;
    min-height: 440px;
  }
  #About-me #box1 #aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100vw;
  }
  #About-me #box1 #aboutme > h2 {
    width: 100%;
  }
  #About-me #box1 #aboutme > p {
    width: 27%;
    margin-top: 1vh;
  }
  #About-me hr {
    width: 100%;
    height: 1px;
    display: block;
    margin: 10vh 40vw;
  }
  #About-me #box2 {
    margin: 0;
    margin-right: 14vw;
  }
  #Portfolio #contents ul li a .contents-text {
    width: 80%;
  }
  #Design {
    padding: 10vh 0;
  }
  #Design .click_img img {
    width: 55%;
  }
  #Contact > div:nth-child(2) img {
    margin-top: 3vh;
  }
  #Contact > div:nth-child(2) #email {
    width: 230px;
    margin-left: 2vw;
  }
}

@media all and (max-width: 930px) {
  #Portfolio #btn {
    display: none;
  }
  #Portfolio #contents ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Portfolio #contents ul li a img {
    width: 100%;
  }
  #Portfolio #contents ul li ~ li {
    margin-top: 8vh;
  }
  #Design #content {
    width: 90%;
  }
  #Design #content li {
    width: 25%;
  }
  #Design .click_img img {
    width: 60%;
  }
  #Contact > div:nth-child(2) #title strong span::after {
    left: 22px;
  }
  #Contact > div:nth-child(2) img {
    margin-top: 2vh;
  }
  #Contact > div:nth-child(2) #email {
    margin-left: 4vw;
  }
}

@media all and (max-width: 768px) {
  #container #home > span:nth-of-type(1) {
    width: 300px;
    height: 300px;
    background: url(../images/icon1.png) no-repeat 0 0/cover;
  }
  #container #home > span:nth-of-type(2) {
    width: 100px;
    height: 100px;
    background: url(../images/icon2.png) no-repeat 0 0/cover;
  }
  #container #home #home-text {
    font-size: 1.3em;
    padding: 60px 0 0 5vw;
  }
  #container #home #home-text h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    letter-spacing: 0.16em;
    line-height: 1;
  }
  #container #home #home-text p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #About-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12vh 0;
  }
  #About-me > div {
    width: 50%;
    height: 60vh;
    min-height: 530px;
    text-align: center;
  }
  #About-me div strong {
    text-align: center;
  }
  #About-me div strong::before {
    width: 100%;
  }
  #About-me #box1 {
    width: 100%;
    height: 58vh;
    min-height: 505px;
  }
  #About-me #box1 #aboutme {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #About-me #box1 #aboutme > p {
    width: 100%;
  }
  #About-me hr {
    width: 149px;
    height: 1px;
    margin: 6vh 0;
  }
  #About-me #box2 {
    margin-right: 0;
    margin-bottom: 2vh;
  }
  #Portfolio #contents ul li a img {
    width: 100%;
    height: 100%;
  }
  #Portfolio #contents ul li a .contents-text {
    width: 90%;
    margin-top: 2vh;
  }
  #Design #content {
    width: 95%;
  }
  #Design #content li {
    width: 35%;
  }
  #Design .click_img img {
    width: 70%;
  }
  #Contact > div:nth-child(2) #email {
    width: 213px;
  }
}

@media all and (max-width: 500px) {
  #home #home-text h2 {
    font-size: 3em;
  }
  #About-me > div {
    width: 65%;
    min-height: 510px;
  }
  #About-me #box1 {
    height: 50vh;
    min-height: 450px;
    max-height: 470px;
  }
  #About-me #box1 #img {
    width: 190px;
    height: 240px;
    background: url(../images/img.png) no-repeat 0 0/cover;
  }
  #About-me #box1 #img::before,
  #About-me #box1 #img::after {
    width: 197px;
    height: 248px;
    top: -6px;
    left: 0;
  }
  #Contact > div:nth-child(2) #title strong {
    white-space: pre-line;
    line-height: 2.2;
  }
  #Contact > div:nth-child(2) #title strong i {
    display: inline;
  }
  #Contact > div:nth-child(2) #title strong span::after {
    left: 20px;
  }
  #Contact > div:nth-child(2) img {
    margin-top: 0;
  }
  #Portfolio {
    padding: 10vh 0;
  }
  #Portfolio #contents ul li a .contents-text {
    width: 100%;
  }
  #Design #content {
    width: 95%;
  }
  #Design #content li {
    width: 40%;
    margin: 5px 5px;
  }
  #Design .click_img img {
    width: 80%;
  }
}

@media all and (max-width: 390px) {
  #About-me > div {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */